{% import './macros/_icon.twig' as icon %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {% include '../img/sprite.svg' %}

    <div class="page">
        {% include './blocks/_title.twig' %}

        <div>
            <a href="#" class="icon">{{ icon.render('icon-code') }}</a>
            <a href="#" class="icon">{{ icon.render('icon-timer', 42, 42) }}</a>
            <a href="#" class="icon">{{ icon.render('icon-link', 52, 52) }}</a>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
