@import './utils/_icon.less';

@color: #fff;
@background: #1b8fc9;

body{
    display: flex;
    height: 100vh;
    margin: 0;
    color: @color;
    background: @background;
    text-align: center;
}

.page{
    margin: auto;
}
